/* Default Styles */
.row-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 90px 50px; 
  padding: 30px;/* Add negative margin to counteract box spacing */
  gap: 30px;
  
}

.website_container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33.33% - 10px); /* Adjust the width calculation for three boxes with spacing */
  max-width: 400px; /* Adjust the maximum width as needed */
  box-sizing: border-box; /* Include padding and border in the total width */
  color: white;
}

#website_image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


.website_name {
  font-size: 1.5rem;
  margin: 10px 0;
}

.tag {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tag p {
  margin: 0;
  padding-left: 10px;
}

.site_cost {
  margin: 0;
  margin-left: auto;
}

.summary {
  margin-bottom: 20px;
}

.bookmark_learnmore {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.learnmore_button {
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 15px;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  width: 50%;
}


.learnmore_button svg{
  margin-left: 40px;
  width: 13%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .website_container {
    width: 100%; /* Full width for smaller screens */
  }
}
