.textInputWrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin-left: 60px;
}

.textInputWrapper input {
  padding: 18px 30px;
  margin: 15px;
  outline: none;
  width: 30%;
  border: 1px solid linear-gradient(#AF2655, #864774);;
  border-radius: 10px;
  font-size: 20px;
}

.errorMessage {
  color: #de1b55;
  text-align: left;
  width: 30%;
}
